*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
/*  */
.edit-ticket {
  background-color: rgb(173, 173, 233);
  width: 90%;
  margin: 0 auto;
}
.form {
  /* width: 70%; */
  padding: 2rem;
}
.small-text {
  font-size: 16px;
}
th {
  font-weight: normal;
}
.total-amount {
  border: none;
  pointer-events: none;
}
.qty {
  width: 3rem;
  text-align: center;
}
.button {
  cursor: pointer;
}
.cityPostCountry,
.invoiceDue {
  display: flex;
  gap: 1em;
}
